node_modules/
# src/


# Тестовое задание на верстальщика

### 1) `npm run dev` - режим разработки;
### 2) `npm run build` - режим продакшн;
### 3) `npm run zip` - создание zip-архива.

### Click on the link to see the result -> https://rudoidev.github.io/User-List/dist/#/login